body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
  color: #1e2a38;
}

/* HEADER */
header {
  background: #0b2d4d;
  color: white;
  padding: 20px;
  text-align: center;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.menu-btn {
  background: white;
  color: #0b2d4d;
  padding: 10px 16px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.menu-btn:hover {
  background: #1f6feb;
  color: white;
}

.menu-btn.active {
  background: #1f6feb;
  color: white;
}

/* CONTENU */
main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* CARTES CHAPITRES */
.card {
  background: white;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.card h3 {
  margin-top: 0;
  color: #0b2d4d;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 1000px;
  margin: auto;
}

/* mobile */
@media (max-width: 700px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

/* BOUTONS RESSOURCES */
.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.actions a {
  background: #1f6feb;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
}

.actions a:hover {
  background: #0b4fc2;
}

.external-btn {
  display: inline-block;
  margin-top: 10px;
  background: #0b2d4d;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
}

.external-btn:hover {
  background: #1f6feb;
}

.sub-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.sub-btn {
  background: white;
  border: 2px solid #0b2d4d;
  color: #0b2d4d;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.sub-btn.active {
  background: #0b2d4d;
  color: white;
}

/* sections */
.sub-section {
  display: none;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.sub-section.active {
  display: block;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.search-box input {
  width: 60%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 10px;
  border: 2px solid #0b2d4d;
  outline: none;
  font-size: 14px;
}

.search-box input:focus {
  border-color: #1f6feb;
}

.sub-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
